/* .body{
    height: 100%;
    background-color: #fbf2ea;
    border-radius: 1px;
    padding: 2%;
    app-header{
        display: block;
    }
    app-application-form{
        display: block;
        border-radius: 1px;
        width: 75%;
        margin: auto;
    }
} */